@using ApiAppl.Domain.Enum;

@{
    ViewData["Title"] = "Create category";
}
<H1>Добавление категории</H1>

<form id="createCategoryForm">

    <div class="form-group">
        <label>Название:</label>
        <input type="text" id="name" name="name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Подкатегория:</label>
        <input type="text" id="subName" name="subName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Создатель:</label>
        <input type="text" id="created" name="created" class="form-control" />
    </div>
    <div class="form-group">
        <label>BOPROGRAMM:</label>
        <select name="boprogramm" id="boprogramm" class="form-select mb-3" asp-items="Html.GetEnumSelectList<Boprogramm>()"></select>
    </div>   
    <br />
    <br />
    <button type="submit" class="btn btn-info">Создать</button>
    <button type="button" asp-controller="Home" asp-action="Index" class="BtCategory">Объекты</button>
</form>
<br />
<div class="alert-danger" id="message"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#createCategoryForm').submit(function (event) {
            event.preventDefault();

            var formData = {
                name: $('#name').val(),
                subName: $('#subName').val(),
                boprogramm: parseInt($('#boprogramm').val()),
                created: $('#created').val(),

            };

            $.ajax({
                url: '/api/miocategories/create-category',
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (data) {
                    $('#message').text('Объект успешно создан с Id: ' + data.id);
                },
                error: function (xhr, status, error) {
                    $('#message').text('Ошибка при создании объекта: ' + error);

                }
            });
        });
    });

    $(document).ready(function () {
        $('.BtCategory').click(function () {
            window.location.href = '/Category/Index';
        });
    });
</script>

